= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_area :title, {class: 'text'}
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :url
    = f.text_area :url, {class: 'text'}
  .field
    = f.label :url_original
    = f.text_area :url_original, {class: 'text'}
  .field
    = f.label :posted_at
    = f.datetime_select :posted_at
  .field
    = f.label :image_url
    = f.text_area :image_url, {class: 'text'}
  .actions
    = f.submit 'Save'
