.topbar.js-topbar
  .topbar__inner
    %h1.topbar__title
      = link_to root_path,{class: 'topbar__icon js-dropdown-trigger'} do
        FEEEED
    .top__overlay
      %p
        %b
          FEEEED
        はWEBデザインのアワードやインスピレーション系のギャラリーのrssを纏めた
        %b
          アンテナサイト
        です。
      .mt10
      %p.italic
        Link:
      %ul.topbar__sites
        - @sites.each do |site|
          %li
            = link_to site.url, {target: '_blank'} do
              = site.name
      .mt10
      %p.italic
        = Post.count
        sites posted.

      - if Rails.env.development?
        %ul.topbar__lists
          %li
            = link_to sites_path do
              sites
          %li
            = link_to posts_path do
              posts
